@layout MainLayout

<CascadingValue Value="this">
    <div class="btn-group @Margin mx-auto w-100" role="group">
        @foreach (TabPage tabPage in Pages)
        {
            <button type="button" class="btn @GetButtonClass(tabPage) fs-5" @onclick=@(() => ActivatePage(tabPage))>
                @tabPage.Text
            </button>
        }
    </div>

    @ChildContent
</CascadingValue>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Margin { get; set; }

    public TabPage ActivePage { get; private set; }

    private List<TabPage> Pages { get; set; } = new();

    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);

        if (Pages.Count == 1)
        {
            ActivePage = tabPage;
        }

        StateHasChanged();
    }

    private string GetButtonClass(TabPage page)
    {
        return page == ActivePage ? "btn-primary" : "btn-secondary";
    }

    private void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }

}